//section colors:
$first: #f9f8fb;
$two: #00afaf;
$three: #70bfff;
$four: #ffe92f;
$footer: #262626;
$white: #ffffff;
$black: #000000;
$green: #96b92c;
$purple: #b07cf7;
$blue: #5585a2;
$red: #f72b3b;
$orange: #ff6033;