@import "settings";
@import "normalize";
@import "reset";
@import "general";
.navi {
    right: 0px!important;
}

.button1 {
    margin-right: 200px;
}

i {
    font-size: 30px!important;
}

#button {
    padding: 15px;
    position: fixed;
    right: 10px;
    i {
        font-size: 25px!important;
    }
}



header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    transition: 200ms;
    .contnet {
        max-width: 1200px;
        right: 0;
        left: 0;
        margin: 0 auto;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        transition: 300ms;
        .logo{
        }
        button {
            transition: 200ms;
        }
        @media (min-width: 801px) {
            button {
                display: none;
            }
        }
        .nav {
            transition: 200ms;
            nav {
                ul {
                    display: flex;
                    li {
                        a {
                            font-family: 'ralewaybold';
                            padding: 10px 0px;
                            margin: 0px 15px;
                            text-decoration: none;
                            color: #000000;
                            text-transform: uppercase;
                            transition:150ms;
                            &:hover {
                                border-top: 3px solid #ff6033;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 800px) {
            .nav {
                position: fixed;
                background-color: $orange;
                border-left: 1px solid $black; 
                box-sizing: border-box; 
                height: 100vh;
                top: 0;
                right: -200px;
                width: 200px;
                ul {
                    flex-direction: column;
                    li { 
                        padding: 20px;   
                        a {
                            padding: 20px;
                            transition: 100ms; 
                            &:hover { 
                                border-top: 3px solid black!important;    
                            }
                        }
                    }
                }   
            } 
        }
    }
}

.slide_down {
    background-color: rgba(255,255,255,0.9);  
} 
.slide{
    height: 70px!important;
}    

.section-one {
    background-color: $first;
    background-image: url("../img/img.png");
    height: 100vh;
    width: 100%;
    background-position: center 30%;
    background-repeat: no-repeat;
    .content {
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        .section_text {
            max-width: 370px;
            padding: 10px;
        }
        .scroll {
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 40px;
            bottom: 40px;
        }
    }
}

.section-two {
    background-color: $two;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;
        .photo {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .text_box {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            .section_text {
                width: 100%;
                color: $white;
                max-width: 500px;
                padding: 0px 10px;
            }
        }
    }
    .content {
        @media (max-width: 800px) {
            flex-direction: column;
            .photo {
                max-width: 500px;
            }
            .text_box{
                .section_text{ 
                    text-align: center;
                }
            }
        }
    }
}

.section-three {
    background-color: $three;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 10px;
        .photo { 
            width: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                padding: 20px 0px 20px 20px;
                box-sizing: border-box;
            }
            .text {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                bottom: 50%;
                color: $white;
            }
        }
        .section_text {
            width: 100%;
            color: $white;
            display: flex;
            flex-direction: column;
            .box {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 20px;
                max-width: 400px;
                width: 100%;
                background: $white;
                color: $black;
                padding: 0;
                cursor: pointer;
                box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.7);
                p {
                    width: 100%;
                    text-align: center;
                    max-width: 300px;
                }
                span {
                    border-left: 1px solid #9d9d9d;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-height: 60px;
                    }
                }
            }
        }
    }
    @media (max-width: 800px){
        .content{
            flex-direction: column-reverse;
            .photo{
                max-width: 500px;
            }
            .section_text{
                align-items: center;
            }
        }
    }
}

.section-four {
    background-color: $four;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        .section_text {
            max-width: 630px;
            padding: 80px 10px 0px 10px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
        }
        .gallery_images {
            padding:0px 10px;  
            .gallery_top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;   
                padding-bottom: 2.5%;  
                .ones{
                    padding-right: 3%; 
                    max-height: 100%;  
                    img{
                        height: 100%;
                    }
                }
                .two {
                    display: flex;
                    max-height: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .gallery_down {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .one,.two{ 
                    max-width: 48.5%;
                }
            }     
            img {
                box-sizing: border-box;
                width: 100%;
                height: auto;
                box-shadow: 0px 5px 25px -3px rgba(0, 0, 0, 0.7);
            } 
        }
        .button {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                background-color: $blue;
                margin: 20px 0px 100px 0px;
            }
        }
    }
}

.section-five {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
        .section_text {
            max-width: 600px;
            h2 {
                font-size: 40px;
            }
        }
        .section_email {
            display: flex;
            flex-direction: row;
            input {
                width: 50%;
                border: 1px solid $black;
                padding: 21px;
            }
            button {
                background-color: $green;
                height: 63px;
                margin-left: 15px;
            }
        }
        @media (max-width: 500px){
            .section_email{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input{
                    min-width: 145px; 
                }
                button{
                    width: 50%; 
                    margin: 10px 0px;
                    min-width: 189px;
                }
            }
        }
    }
}

.section-six {
    background-color: $purple;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        .section_text {
            margin: 0 auto;
            max-width: 570px;
            padding: 80px 10px 10px 10px;
            text-align: center;
            color: $white;
        } 
        .boxes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .box{ 
                padding: 0px 5px;
                img{
                        width: 100%;
                    }
            }
        }
        .button {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                background-color: $red;
                margin: 20px 0px 100px 0px;
            }
        }
    }
    @media (max-width: 800px){
        .content{
            .boxes{ 
                flex-direction: column;
                align-items: center;
                .box{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.section-seven {
    background-image: url("../img/backg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 10px; 
        .section_text {
            padding-top: 80px;
            margin: 0 auto;
            max-width: 350px;
            text-align: center;
        }
        .content_contact {
            display: flex;
            flex-direction: row;
            padding-right: 5px;
            .form {
                display: flex;
                flex-direction: column;
                width: 50%;
                input{
                    background-color: rgba(0, 196, 196, 0.7);
                    color: $white;
                    border: none; 
                    margin-bottom: 10px;
                    margin-right: 10px;
                    padding: 15px;
                    box-sizing: border-box;
                    max-width: 500px;
                    &:focus{ 
                        background: #00c4c4; 
                        border-left: 5px solid #355b82;
                    }
                    &::placeholder{
                        color: white;  
                    }
                }
                textarea{
                    background-color: rgba(0, 196, 196, 0.7);
                    color: $white;
                    border: none; 
                    padding: 15px;
                    box-sizing: border-box;
                    height: 200px;   
                    margin-bottom: 10px; 
                    margin-right: 10px;
                    max-width: 500px;
                    &:focus{ 
                        background: #00c4c4; 
                        border-left: 5px solid #355b82;
                    }
                    &::placeholder{
                        color: white;  
                    }
                }
            }
            .address {
                width: 50%;
                display: flex;
                flex-direction: column;
                h3{
                    text-transform: uppercase;
                    font-weight: 900;
                }
                p{
                    padding: 8px 0px;
                }
            }
        }
        @media (max-width: 700px){
            .content_contact {
                flex-direction: column-reverse;
                align-items: center;
                .form{
                    width: 90%; 
                    input,textarea{
                        max-width: 700px;
                        margin-right: 0px;
                    }
                }
                .address{
                    width: 90%; 
                }
            }
        }
    }
}
 
footer {
    background-color: $footer;
    .content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        align-items: center;
        min-height: 90px;
        p {
            padding: 10px;
        }
    }
    @media (max-width: 620px) {
        .content {
            flex-direction: column;
            text-align: center;
        }
    }
    span {
        color: #bd2946;
    }
}
